<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sanjay.sjp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>sjp</name>
    <description>Sri Jagannatha Panchanga</description>
    <author email="sanjaychettiar@gmail.com" href="https://github.com/SanjayPrabhakaran">
        Sanjay Prabhakaran
    </author>
    <content src="SJP.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/img/logo.png" />
</widget>
